@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dancing: var(--font-dancing);
  --font-Poppins: var(--font-Poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* globals.css */

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-dancing: "Dancing Script", cursive;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

.font-dancing {
  font-family: var(--font-dancing), cursive;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

